header{
  background-color: #816df3;
  top: 0; left: 0;
  width: 100%;
}

header nav{

}

header nav ul{
  display: flex;
}

header nav ul li{
  list-style: none;
  margin: 10px;
}

main{  
  /* 가로로 정렬하기 */
  display: flex;
}

section{
  width: 80%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

section h1{
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: -50px;
}

article{
  margin-bottom: 0px;
  padding: 10px;
  margin-bottom: -50px;
}

article h2{

}

article p{

}

aside{
  padding-top: 30px; padding-bottom: 30px;
  width: 20%;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}